.notification 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -12px;
    right: 50%;
    border-radius: 20px;
    transform: translate(50%, 50%);
    padding: 1em 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }
  
  .notification.error 
  {
    background: white;
    color: red;
    border: 1px solid aqua;
    border-bottom: none;
    border-top: none;
  }
  
  .notification.success 
  {
    background: white;
    color: greenyellow;
    border: 1px solid aqua;
  }